.task_field {
    width: 500px;
    height: 200px;
}

.title {
    display: flex;
}

.layout {
    display: flex;
    min-height: 100vh;
}

form {
  background-color: #47d1da;
  color: black;
}

#sidebar {
    text-align: center;
    width: 100px;
    background-color:#ff838b;
    display: block;
}

legend {
    font-weight: bold;
    float: left;
    margin-bottom: .5em;
    width: 100%;
}

fieldset {
  border: thin solid #47d1da;
  margin: 0 auto;
  padding: 2em;
  width: 75%;
}

ul{
  padding-left:0;
}

li{
  list-style:none;
}